<!-- function name -->
{% extends "base.html" %}
{% block title %}
Update Training Schedule
{% endblock %}
{% block subtitle %}
{% endblock %}
{% block content %}
{% for schedule in schduleinfo %}
<div class="container-fluid col-12">
  <form action="{{ url_for('trainingmgmt.updateSchedule') }}" method="post">
<fieldset class="row p-3 g-3 justify-content-center">
  <legend>Details</legend>
<div class="mb-3 col-lg-3">
  <label for="scheduleid1" class="form-label" value="{{schedule[0]}}">Schedule ID</label>
  <input type="text" class="form-control" name="scheduleid1" id="scheduleid1" value="{{schedule[0]}}" disabled>
  <input type="hidden" class="form-control" name="scheduleid" id="scheduleid" value="{{schedule[0]}}">
</div>
<div class="col-lg-5">
  <label for="trainingname" class="form-label">Training Name</label>
  <input type="text" class="form-control" name="trainingname" id="trainingname" value="{{schedule[13]}}" disabled>
</div>
<div class="mb-3 col-lg-2">
  <label for="duration" class="form-label">Duration</label>
  <select id="duration" name="duration" class="form-select" required>
  <option selected value="01:00:00">60 minutes</option>
  </select>
  </div>
<div class="col-lg-3">
  <label for="startdate" class="form-label">Date</label>
  <input type="date" class="form-control" name="startdate" id="startdate" value="{{schedule[6]}}" min="{{todaydate}}" required>
</div>
<div class="col-lg-5">
  <label for="starttime" class="form-label">Start Time</label>
  <select id="starttime" name="starttime" class="form-select" required>
    <option selected value="{{schedule[7]}}" >{{schedule[7]}}</option>  
    <option value="06:00:00">06:00</option>
    <option value="07:00:00">07:00</option>
    <option value="08:00:00">08:00</option>
    <option value="09:00:00">09:00</option>
    <option value="10:00:00">10:00</option>
    <option value="11:00:00">11:00</option>
    <option value="12:00:00">12:00</option>
    <option value="13:00:00">13:00</option>
    <option value="14:00:00">14:00</option>
    <option value="15:00:00">15:00</option>
    <option value="16:00:00">16:00</option>
    <option value="17:00:00">17:00</option>
    <option value="18:00:00">18:00</option>
    <option value="19:00:00">19:00</option>
    <option value="20:00:00">20:00</option>
  </select>
</div>

<div class="col-lg-2">
  <label for="room" class="form-label">Room</label>
  <select id="room" name="room" class="form-select" required>
    <option selected value="{{schedule[3]}}" >{{schedule[3]}}</option>
    <option value="Special Room1" >Special Room1</option>
    <option value="Special Room2" >Special Room2</option>
    <option value="Special Room3" >Special Room3</option>
  </select>
</div>
</fieldset>
<div class="col text-center">
  <button type="submit" class="btn btn-primary text-center">Save Change</button>
  <button type="reset" class="btn btn-secondary text-center">Reset</button>
</div>
{% endfor %}
{% endblock %}