<!-- function name -->
{% extends "base.html" %}
{% block title %}
Membership Expiry Status (within the next 30 days)
{% endblock %}
{% block subtitle %}
Including members whose membership already expired
{% endblock %}
{% block content %}
<div class="table-responsive">
  <!-- function table/form: do not change the bootstrap code -->
  <div class="container-fluid col-12">
  
  
  <table class="table table-striped w-100 table-hover table-bordered align-middle">
      <thead class="text-center">
      <tr>
          <th scope="col">Member ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Membership Start Date</th>
          <th scope="col">Membership End Date</th>
          <th scope="col">Subscription Term</th>
         


      </tr>
      </thead>
      <tbody>
      {% for member in membershipinfo %}
      <tr>
              <td class="text-center">{{member[0]}}</td>
              <td class="text-center">{{member[1]}}</td>
              <td class="text-center">{{member[2]}}</td>
              <td class="text-center">{{member[3]}}</td>
              <td class="text-center">{{member[4]}}</td>
              <td class="text-center">{{member[5]}}</td>
              <td class="text-center">{{member[6]}}</td>

           
         
      </tr>
      
      {% endfor %}
      </tbody>
  </table>
  </div>
  <div class="col text-center">
    <a class="btn btn-primary" href="{{ url_for('index')}}" role="button">Go to home page </a>
    
  </div>
{% endblock %}