{% extends "base.html" %}
{% block title %}
Create Member
{% endblock %}
{% block content %}
<form class="row g-3" method="post" action="">
    <div class="col-md-3">
        <label class="form-label">First name</label>
        <input type="text" class="form-control" name="Firstname" value="" required maxlength="45" pattern="[A-Za-z\s]+"
            oninput="this.value=this.value.replace(/(?![a-z])./gmi,'')">
    </div>
    <div class="col-md-3">
        <label class="form-label">Last name</label>
        <input type="text" class="form-control" name="Lastname" value="" required maxlength="45" pattern="[A-Za-z\s]+"
            oninput="this.value=this.value.replace(/(?![a-z])./gmi,'')">
    </div>
    <div class="col-md-3">
        <label class="form-label">Gender</label>
        <select class="form-select" name="Gender" required>
            <option selected disabled value="">Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="col-md-3">
        <label class="form-label">Day Of Birth</label>
        <input type="date" class="form-control" id="birth" name="DayOfBirth" value="" required
            pattern="\d{4}-\d{2}-\d{2}">
    </div>
    <div class="col-md-6">
        <label class="form-label">Phone Number</label>
        <div class="input-group">
            <input title="9 to 10 digits" type="text" class="form-control" name="Phonenumber" required maxlength="10"
                pattern=".{9,10}" minlength="9" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')">
        </div>
    </div>
    <div class="col-md-6">
        <label class="form-label">Email</label>
        <div class="input-group">
            <input type="email" class="form-control" name="Email" required maxlength="250">
        </div>
    </div>
    <div class="col-md-12">
        <label class="form-label">Health Condition (Hold down the Ctrl (Windows) / Command (mac) button to select
            multiple options)</label>
        <select class="form-select" name="HealthCondition" required multiple>
            <option value="Good Health">Good Health</option>
            <option value="Heart Disease">Heart Disease</option>
            <option value="High Blood Pressure">High Blood Pressure</option>
            <option value="Asthma">Asthma</option>
        </select>
    </div>
    <div class="col-md-2">
        <label class="form-label">House number/name</label>
        <input type="text" class="form-control" name="HouseNumberName" required maxlength="15">
    </div>
    <div class="col-md-3">
        <label class="form-label">Street</label>
        <input type="text" class="form-control" name="Street" required maxlength="45">
    </div>
    <div class="col-md-3">
        <label class="form-label">Town</label>
        <input type="text" class="form-control" name="Town" required maxlength="25" pattern="[A-Za-z\s]+"
            oninput="this.value=this.value.replace(/(?![a-z ])./gmi,'')">
    </div>
    <div class="col-md-2">
        <label class="form-label">City</label>
        <input type="text" class="form-control" name="City" required maxlength="25" pattern="[A-Za-z]+"
            oninput="this.value=this.value.replace(/(?![a-z])./gmi,'')">
    </div>
    <div class="col-md-2">
        <label class="form-label">Postal code</label>
        <input type="text" class="form-control" name="Postalcode" required maxlength="4"
            oninput="this.value=this.value.replace(/[^0-9]/g,'')">
    </div>
    <div class="col-md-4">
        <label class="form-label">Membership Term</label>
        <select class="form-select" name="MembershipTerm" required>
            <option disabled selected>Choose...</option>
            {% for term in terms %}
            <option value="{{ term[0] }}">{{ term[1] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <label class="form-label">MembersAhip StartDate</label>
        <input type="date" class="form-control dt-picker" name="MembershipStartDate" required
            pattern="\d{4}-\d{2}-\d{2}" id="startDate">
    </div>
    <div class="col-md-4">
        <label class="form-label">Membership EndDate</label>
        <input type="date" class="form-control" name="MembershipEndDate" required>
    </div>
    <div class="col-md-4">
        <label class="form-label">Card Number e.g.: 5555555555554444</label>
        <input type="text" class="form-control" name="CardNumber" required maxlength="25" minlength="25"
            placeholder="e.g.: 5555555555554444" oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')"
            pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|[25][1-7][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$"
            title="Please enter a valid credit card number">
    </div>
    <div class="col-md-3">
        <label class="form-label">CVV</label>
        <input type="text" class="form-control" name="CVV" required maxlength="3"
            oninput="this.value=this.value.replace(/(?![0-9])./gmi,'')">
    </div>
    <div class="col-md-3">
        <label class="form-label">Card Expiry</label>
        <input type="month" class="form-control" name="CardExpiry" required maxlength="10">
    </div>
    <div class="col-md-3">
        <label class="form-label">Name On Card</label>
        <input type="text" class="form-control" name="NameOnCard" required maxlength="45"
            oninput="this.value=this.value.replace(/(?![a-z\s])./gmi,'')">
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
<script>
    let birth = document.querySelector('#birth')
    const today = new Date();
    const minDate = new Date(today.getFullYear() - 14, today.getMonth(), today.getDate());
    birth.max = minDate.toISOString().slice(0, 10);
    let startDate = document.querySelector('#startDate')
    startDate.min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0]
</script>
{% endblock %}